

<script type="text/javascript">
    require(['js/helper/require-reference'], function(reference){
        require(['js/controller/LoginController'], function(LoginController){
            var loginControllerObject = new LoginController();
        });
    });
</script>


<section class="login_section">
    <div class="container">
        <div class="card card-container">

            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" id="loginForm" onsubmit="return false;" novalidate >
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" >
                <div id="remember" class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" value="true"> Remember me!
                    </label>
                </div>
                <input class="btn btn-lg btn-primary btn-block btn-signin" name="submitform" type="submit" value="Sign In" />
            </form><!-- /form -->

            <p class="lt-row">
                <a href="#" class="forgot-password">Forgot the password?</a>
                <a href="student-form.html">Create New User</a>
            </p>

        </div><!-- /card-container -->

    </div><!-- /container -->
</section>
