<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-responsive table-mailbox">
                <thead>
                <th>One</th>
                <th>One</th>
                <th>One</th>
                </thead>
                <tbody>
                    <tr>
                        <td>122</td>
                        <td>122</td>
                        <td>122</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>