section.content-header
    h1
      | #{locals.userDetail.firstname}'s #{locals.userDetail.activeTab}
      //- small Version 2.0
    |           
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Home
      |             
      li.active Dashboard