include header
script(type='text/javascript').
  require(['js/helper/require-reference'], function(reference){
  require(['js/controller/DashBoardController'], function(DashBoardController){
  var dashBoardControllerObject = new DashBoardController();
  });
  });
// header logo: style can be found in header.less
header.header
  a.logo(href='/dashboard')
    // Add the class icon to your logo image or logo icon to add the margining
    | AdminLTE
  // Header Navbar: style can be found in header.less
  nav.navbar.navbar-static-top(role='navigation')
    // Sidebar toggle button
    a.navbar-btn.sidebar-toggle(href='javascript:void(0)', data-toggle='offcanvas', role='button')
      span.sr-only Toggle navigation
      |                     
      span.icon-bar
      |                     
      span.icon-bar
      |                     
      span.icon-bar
    |                 
    .navbar-right
      ul.nav.navbar-nav
        // Messages: style can be found in dropdown.less
        li.dropdown.messages-menu
          a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            i.fa.fa-envelope
            |                                 
            span.label.label-success 4
          |                             
          ul.dropdown-menu
            li.header You have 4 messages
            |                                 
            li
              // inner menu: contains the actual data
              ul.menu
                li
                  // start message
                  a(href='javascript:void(0)')
                    .pull-left
                      img.img-circle(src='images/avatar3.png', alt='User Image')
                    |                                                 
                    h4
                      | Support Team
                      small
                        i.fa.fa-clock-o
                        |  5 mins
                    |                                                 
                    p Why not buy a new awesome theme?
                // end message
                li
                  a(href='javascript:void(0)')
                    .pull-left
                      img.img-circle(src='images/avatar2.png', alt='user image')
                    |                                                 
                    h4
                      | AdminLTE Design Team
                      small
                        i.fa.fa-clock-o
                        |  2 hours
                    |                                                 
                    p Why not buy a new awesome theme?
                |                                         
                li
                  a(href='javascript:void(0)')
                    .pull-left
                      img.img-circle(src='images/avatar.png', alt='user image')
                    |                                                 
                    h4
                      | Developers
                      small
                        i.fa.fa-clock-o
                        |  Today
                    |                                                 
                    p Why not buy a new awesome theme?
                |                                         
                li
                  a(href='javascript:void(0)')
                    .pull-left
                      img.img-circle(src='images/avatar2.png', alt='user image')
                    |                                                 
                    h4
                      | Sales Department
                      small
                        i.fa.fa-clock-o
                        |  Yesterday
                    |                                                 
                    p Why not buy a new awesome theme?
                |                                         
                li
                  a(href='javascript:void(0)')
                    .pull-left
                      img.img-circle(src='images/avatar.png', alt='user image')
                    |                                                 
                    h4
                      | Reviewers
                      small
                        i.fa.fa-clock-o
                        |  2 days
                    |                                                 
                    p Why not buy a new awesome theme?
            |                                 
            li.footer
              a(href='javascript:void(0)') See All Messages
        // Notifications: style can be found in dropdown.less
        li.dropdown.notifications-menu
          a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            i.fa.fa-warning
            |                                 
            span.label.label-warning 10
          |                             
          ul.dropdown-menu
            li.header You have 10 notifications
            |                                 
            li
              // inner menu: contains the actual data
              ul.menu
                li
                  a(href='javascript:void(0)')
                    i.ion.ion-ios7-people.info
                    |  5 new members joined today
                |                                         
                li
                  a(href='javascript:void(0)')
                    i.fa.fa-warning.danger
                    |  Very long description here that may not fit into the page and may cause design problems
                |                                         
                li
                  a(href='javascript:void(0)')
                    i.fa.fa-users.warning
                    |  5 new members joined
                |                                         
                li
                  a(href='javascript:void(0)')
                    i.ion.ion-ios7-cart.success
                    |  25 sales made
                |                                         
                li
                  a(href='javascript:void(0)')
                    i.ion.ion-ios7-person.danger
                    |  You changed your username
            |                                 
            li.footer
              a(href='javascript:void(0)') View all
        // Tasks: style can be found in dropdown.less
        li.dropdown.tasks-menu
          a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            i.fa.fa-tasks
            |                                 
            span.label.label-danger 9
          |                             
          ul.dropdown-menu
            li.header You have 9 tasks
            |                                 
            li
              // inner menu: contains the actual data
              ul.menu
                li
                  // Task item
                  a(href='javascript:void(0)')
                    h3
                      | Design some buttons
                      small.pull-right 20%
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                        span.sr-only 20% Complete
                // end task item
                li
                  // Task item
                  a(href='javascript:void(0)')
                    h3
                      | Create a nice theme
                      small.pull-right 40%
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-green(style='width: 40%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                        span.sr-only 40% Complete
                // end task item
                li
                  // Task item
                  a(href='javascript:void(0)')
                    h3
                      | Some task I need to do
                      small.pull-right 60%
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-red(style='width: 60%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                        span.sr-only 60% Complete
                // end task item
                li
                  // Task item
                  a(href='javascript:void(0)')
                    h3
                      | Make beautiful transitions
                      small.pull-right 80%
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-yellow(style='width: 80%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                        span.sr-only 80% Complete
                // end task item
            |                                 
            li.footer
              a(href='javascript:void(0)') View all tasks
        // User Account: style can be found in dropdown.less
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            i.glyphicon.glyphicon-user
            |                                 
            span
              | Jane Doe 
              i.caret
          |                             
          ul.dropdown-menu
            // User image
            li.user-header.bg-light-blue
              img.img-circle(src='images/avatar3.png', alt='User Image')
              |                                     
              p
                | Jane Doe - Web Developer
                small Member since Nov. 2012
            // Menu Body
              .col-xs-4.text-center
                a(href='javascript:void(0)') Followers
              |                                     
              .col-xs-4.text-center
                a(href='javascript:void(0)') Sales
              |                                     
              .col-xs-4.text-center
                a(href='javascript:void(0)') Friends
            // Menu Footer
            li.user-footer
              .pull-left
                a.btn.btn-default.btn-flat(href='javascript:void(0)') Profile
              |                                     
              .pull-right
                a.btn.btn-default.btn-flat(href='javascript:void(0)') Sign out
|         
.wrapper.row-offcanvas.row-offcanvas-left
  // Left side column. contains the logo and sidebar
  aside.left-side.sidebar-offcanvas
    // sidebar: style can be found in sidebar.less
    section.sidebar
      // Sidebar user panel
      .user-panel
        .pull-left.image
          img.img-circle(src='images/avatar3.png', alt='User Image')
        |                         
        .pull-left.info
          p Hello, Jane
          |                             
          a(href='javascript:void(0)')
            i.fa.fa-circle.text-success
            |  Online
      // search form
      form.sidebar-form(action='#', method='get')
        .input-group
          input.form-control(type='text', name='q', placeholder='Search...')
          |                             
          span.input-group-btn
            button#search-btn.btn.btn-flat(type='submit', name='seach')
              i.fa.fa-search
      // /.search form
      // sidebar menu: : style can be found in sidebar.less
      ul.sidebar-menu
        li.active
          a(href='index.html')
            i.fa.fa-dashboard
            |  
            span Dashboard
        |                         
        li
          a(href='pages/widgets.html')
            i.fa.fa-th
            |  
            span Widgets
            |  
            small.badge.pull-right.bg-green new
        |                         
        li.treeview
          a(href='javascript:void(0)')
            i.fa.fa-bar-chart-o
            |                                 
            span Charts
            |                                 
            i.fa.fa-angle-left.pull-right
          |                             
          ul.treeview-menu
            li
              a(href='pages/charts/morris.html')
                i.fa.fa-angle-double-right
                |  Morris
            |                                 
            li
              a(href='pages/charts/flot.html')
                i.fa.fa-angle-double-right
                |  Flot
            |                                 
            li
              a(href='pages/charts/inline.html')
                i.fa.fa-angle-double-right
                |  Inline charts
        |                         
        li.treeview
          a(href='javascript:void(0)')
            i.fa.fa-laptop
            |                                 
            span UI Elements
            |                                 
            i.fa.fa-angle-left.pull-right
          |                             
          ul.treeview-menu
            li
              a(href='pages/UI/general.html')
                i.fa.fa-angle-double-right
                |  General
            |                                 
            li
              a(href='pages/UI/icons.html')
                i.fa.fa-angle-double-right
                |  Icons
            |                                 
            li
              a(href='pages/UI/buttons.html')
                i.fa.fa-angle-double-right
                |  Buttons
            |                                 
            li
              a(href='pages/UI/sliders.html')
                i.fa.fa-angle-double-right
                |  Sliders
            |                                 
            li
              a(href='pages/UI/timeline.html')
                i.fa.fa-angle-double-right
                |  Timeline
        |                         
        li.treeview
          a(href='javascript:void(0)')
            i.fa.fa-edit
            |  
            span Forms
            |                                 
            i.fa.fa-angle-left.pull-right
          |                             
          ul.treeview-menu
            li
              a(href='pages/forms/general.html')
                i.fa.fa-angle-double-right
                |  General Elements
            |                                 
            li
              a(href='pages/forms/advanced.html')
                i.fa.fa-angle-double-right
                |  Advanced Elements
            |                                 
            li
              a(href='pages/forms/editors.html')
                i.fa.fa-angle-double-right
                |  Editors
        |                         
        li.treeview
          a(href='javascript:void(0)')
            i.fa.fa-table
            |  
            span Tables
            |                                 
            i.fa.fa-angle-left.pull-right
          |                             
          ul.treeview-menu
            li
              a(href='pages/tables/simple.html')
                i.fa.fa-angle-double-right
                |  Simple tables
            |                                 
            li
              a(href='pages/tables/data.html')
                i.fa.fa-angle-double-right
                |  Data tables
        |                         
        li
          a(href='pages/calendar.html')
            i.fa.fa-calendar
            |  
            span Calendar
            |                                 
            small.badge.pull-right.bg-red 3
        |                         
        li
          a(href='pages/mailbox.html')
            i.fa.fa-envelope
            |  
            span Mailbox
            |                                 
            small.badge.pull-right.bg-yellow 12
        |                         
        li.treeview
          a(href='javascript:void(0)')
            i.fa.fa-folder
            |  
            span Examples
            |                                 
            i.fa.fa-angle-left.pull-right
          |                             
          ul.treeview-menu
            li
              a(href='pages/examples/invoice.html')
                i.fa.fa-angle-double-right
                |  Invoice
            |                                 
            li
              a(href='pages/examples/login.html')
                i.fa.fa-angle-double-right
                |  Login
            |                                 
            li
              a(href='pages/examples/register.html')
                i.fa.fa-angle-double-right
                |  Register
            |                                 
            li
              a(href='pages/examples/lockscreen.html')
                i.fa.fa-angle-double-right
                |  Lockscreen
            |                                 
            li
              a(href='pages/examples/404.html')
                i.fa.fa-angle-double-right
                |  404 Error
            |                                 
            li
              a(href='pages/examples/500.html')
                i.fa.fa-angle-double-right
                |  500 Error
            |                                 
            li
              a(href='pages/examples/blank.html')
                i.fa.fa-angle-double-right
                |  Blank Page
    // /.sidebar
  // Right side column. Contains the navbar and content of the page
  aside.right-side
    // Content Header (Page header)
    section.content-header
      h1
        | Dashboard
        small Control panel
      |                     
      ol.breadcrumb
        li
          a(href='javascript:void(0)')
            i.fa.fa-dashboard
            |  Home
        |                         
        li.active Dashboard
    // Main content
    section.content
      // Small boxes (Stat box)
      .row
        .col-lg-3.col-xs-6
          // small box
          .small-box.bg-aqua
            .inner
              h3
                | 150
              |                                     
              p
                | New Orders
            |                                 
            .icon
              i.ion.ion-bag
            |                                 
            a.small-box-footer(href='javascript:void(0)')
              | More info 
              i.fa.fa-arrow-circle-right
        // ./col
        .col-lg-3.col-xs-6
          // small box
          .small-box.bg-green
            .inner
              h3
                | 53
                sup(style='font-size: 20px') %
              |                                     
              p
                | Bounce Rate
            |                                 
            .icon
              i.ion.ion-stats-bars
            |                                 
            a.small-box-footer(href='javascript:void(0)')
              | More info 
              i.fa.fa-arrow-circle-right
        // ./col
        .col-lg-3.col-xs-6
          // small box
          .small-box.bg-yellow
            .inner
              h3
                | 44
              |                                     
              p
                | User Registrations
            |                                 
            .icon
              i.ion.ion-person-add
            |                                 
            a.small-box-footer(href='javascript:void(0)')
              | More info 
              i.fa.fa-arrow-circle-right
        // ./col
        .col-lg-3.col-xs-6
          // small box
          .small-box.bg-red
            .inner
              h3
                | 65
              |                                     
              p
                | Unique Visitors
            |                                 
            .icon
              i.ion.ion-pie-graph
            |                                 
            a.small-box-footer(href='javascript:void(0)')
              | More info 
              i.fa.fa-arrow-circle-right
        // ./col
      // /.row
      // top row
      .row
        .col-xs-12.connectedSortable
        // /.col
      // /.row
      // Main row
      .row
        // Left col
        section.col-lg-6.connectedSortable
          // Box (with bar chart)
          #loading-example.box.box-danger
            .box-header
              // tools box
              .pull-right.box-tools
                button.btn.btn-danger.btn-sm.refresh-btn(data-toggle='tooltip', title='Reload')
                  i.fa.fa-refresh
                |                                         
                button.btn.btn-danger.btn-sm(data-widget='collapse', data-toggle='tooltip', title='Collapse')
                  i.fa.fa-minus
                |                                         
                button.btn.btn-danger.btn-sm(data-widget='remove', data-toggle='tooltip', title='Remove')
                  i.fa.fa-times
              // /. tools
              i.fa.fa-cloud
              |                                     
              h3.box-title Server Load
            // /.box-header
            .box-body.no-padding
              .row
                .col-sm-7
                  // bar chart
                  #bar-chart.chart(style='height: 250px;')
                |                                         
                .col-sm-5
                  .pad
                    // Progress bars
                    .clearfix
                      span.pull-left Bandwidth
                      |                                                     
                      small.pull-right 10/200 GB
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-green(style='width: 70%;')
                    |                                                 
                    .clearfix
                      span.pull-left Transfered
                      |                                                     
                      small.pull-right 10 GB
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-red(style='width: 70%;')
                    |                                                 
                    .clearfix
                      span.pull-left Activity
                      |                                                     
                      small.pull-right 73%
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-light-blue(style='width: 70%;')
                    |                                                 
                    .clearfix
                      span.pull-left FTP
                      |                                                     
                      small.pull-right 30 GB
                    |                                                 
                    .progress.xs
                      .progress-bar.progress-bar-aqua(style='width: 70%;')
                    // Buttons
                    p
                      button.btn.btn-default.btn-sm
                        i.fa.fa-cloud-download
                        |  Generate PDF
                  // /.pad
                // /.col
              // /.row - inside box
            // /.box-body
            .box-footer
              .row
                .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                  input.knob(type='text', data-readonly='true', value='80', data-width='60', data-height='60', data-fgcolor='#f56954')
                  |                                             
                  .knob-label CPU
                // ./col
                .col-xs-4.text-center(style='border-right: 1px solid #f4f4f4')
                  input.knob(type='text', data-readonly='true', value='50', data-width='60', data-height='60', data-fgcolor='#00a65a')
                  |                                             
                  .knob-label Disk
                // ./col
                .col-xs-4.text-center
                  input.knob(type='text', data-readonly='true', value='30', data-width='60', data-height='60', data-fgcolor='#3c8dbc')
                  |                                             
                  .knob-label RAM
                // ./col
              // /.row
            // /.box-footer
          // /.box
          // Custom tabs (Charts with tabs)
          .nav-tabs-custom
            // Tabs within a box
            ul.nav.nav-tabs.pull-right
              li.active
                a(href='#revenue-chart', data-toggle='tab') Area
              |                                     
              li
                a(href='#sales-chart', data-toggle='tab') Donut
              |                                     
              li.pull-left.header
                i.fa.fa-inbox
                |  Sales
            |                                 
            .tab-content.no-padding
              // Morris chart - Sales
              #revenue-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
              |                                     
              #sales-chart.chart.tab-pane(style='position: relative; height: 300px;')
          // /.nav-tabs-custom
          // Calendar
          .box.box-warning
            .box-header
              i.fa.fa-calendar
              |                                     
              .box-title Calendar
              // tools box
              .pull-right.box-tools
                // button with a dropdown
                .btn-group
                  button.btn.btn-warning.btn-sm.dropdown-toggle(data-toggle='dropdown')
                    i.fa.fa-bars
                  |                                             
                  ul.dropdown-menu.pull-right(role='menu')
                    li
                      a(href='javascript:void(0)') Add new event
                    |                                                 
                    li
                      a(href='javascript:void(0)') Clear events
                    |                                                 
                    li.divider
                    |                                                 
                    li
                      a(href='javascript:void(0)') View calendar
              // /. tools
            // /.box-header
            .box-body.no-padding
              // The calendar
              #calendar
            // /.box-body
          // /.box
          // quick email widget
          .box.box-info
            .box-header
              i.fa.fa-envelope
              |                                     
              h3.box-title Quick Email
              // tools box
              .pull-right.box-tools
                button.btn.btn-info.btn-sm(data-widget='remove', data-toggle='tooltip', title='Remove')
                  i.fa.fa-times
              // /. tools
            |                                 
            .box-body
              form(action='#', method='post')
                .form-group
                  input.form-control(type='email', name='emailto', placeholder='Email to:')
                |                                         
                .form-group
                  input.form-control(type='text', name='subject', placeholder='Subject')
                |                                         
                div
                  textarea.textarea(placeholder='Message', style='width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;')
            |                                 
            .box-footer.clearfix
              button#sendEmail.pull-right.btn.btn-default
                | Send 
                i.fa.fa-arrow-circle-right
        // /.Left col
        // right col (We are only adding the ID to make the widgets sortable)
        section.col-lg-6.connectedSortable
          // Map box
          .box.box-primary
            .box-header
              // tools box
              .pull-right.box-tools
                button.btn.btn-primary.btn-sm.daterange.pull-right(data-toggle='tooltip', title='Date range')
                  i.fa.fa-calendar
                |                                         
                button.btn.btn-primary.btn-sm.pull-right(data-widget='collapse', data-toggle='tooltip', title='Collapse', style='margin-right: 5px;')
                  i.fa.fa-minus
              // /. tools
              i.fa.fa-map-marker
              |                                     
              h3.box-title
                | Visitors
            |                                 
            .box-body.no-padding
              #world-map(style='height: 300px;')
              |                                     
              .table-responsive
                // .table - Uses sparkline charts
                table.table.table-striped
                  tr
                    th Country
                    |                                                 
                    th Visitors
                    |                                                 
                    th Online
                    |                                                 
                    th Page Views
                  |                                             
                  tr
                    td
                      a(href='javascript:void(0)') USA
                    |                                                 
                    td
                      #sparkline-1
                    |                                                 
                    td 209
                    |                                                 
                    td 239
                  |                                             
                  tr
                    td
                      a(href='javascript:void(0)') India
                    |                                                 
                    td
                      #sparkline-2
                    |                                                 
                    td 131
                    |                                                 
                    td 958
                  |                                             
                  tr
                    td
                      a(href='javascript:void(0)') Britain
                    |                                                 
                    td
                      #sparkline-3
                    |                                                 
                    td 19
                    |                                                 
                    td 417
                  |                                             
                  tr
                    td
                      a(href='javascript:void(0)') Brazil
                    |                                                 
                    td
                      #sparkline-4
                    |                                                 
                    td 109
                    |                                                 
                    td 476
                  |                                             
                  tr
                    td
                      a(href='javascript:void(0)') China
                    |                                                 
                    td
                      #sparkline-5
                    |                                                 
                    td 192
                    |                                                 
                    td 437
                  |                                             
                  tr
                    td
                      a(href='javascript:void(0)') Australia
                    |                                                 
                    td
                      #sparkline-6
                    |                                                 
                    td 1709
                    |                                                 
                    td 947
                // /.table
            // /.box-body
            .box-footer
              button.btn.btn-info
                i.fa.fa-download
                |  Generate PDF
              |                                     
              button.btn.btn-warning
                i.fa.fa-bug
                |  Report Bug
          // /.box
          // Chat box
          .box.box-success
            .box-header
              h3.box-title
                i.fa.fa-comments-o
                |  Chat
              |                                     
              .box-tools.pull-right(data-toggle='tooltip', title='Status')
                .btn-group(data-toggle='btn-toggle')
                  button.btn.btn-default.btn-sm.active(type='button')
                    i.fa.fa-square.text-green
                  |                                             
                  |                                             
                  button.btn.btn-default.btn-sm(type='button')
                    i.fa.fa-square.text-red
            |                                 
            #chat-box.box-body.chat
              // chat item
              .item
                img.online(src='images/avatar.png', alt='user image')
                |                                         
                p.message
                  a.name(href='javascript:void(0)')
                    small.text-muted.pull-right
                      i.fa.fa-clock-o
                      |  2:15
                    |                                                 Mike Doe
                  |                                             I would like to meet you to discuss the latest news about
                  |                                             the arrival of the new theme. They say it is going to be one the
                  |                                             best themes on the market
                |                                         
                .attachment
                  h4 Attachments:
                  |                                             
                  p.filename
                    | Theme-thumbnail-image.jpg
                  |                                             
                  .pull-right
                    button.btn.btn-primary.btn-sm.btn-flat Open
                // /.attachment
              // /.item
              // chat item
              .item
                img.offline(src='images/avatar2.png', alt='user image')
                |                                         
                p.message
                  a.name(href='javascript:void(0)')
                    small.text-muted.pull-right
                      i.fa.fa-clock-o
                      |  5:15
                    |                                                 Jane Doe
                  |                                             I would like to meet you to discuss the latest news about
                  |                                             the arrival of the new theme. They say it is going to be one the
                  |                                             best themes on the market
              // /.item
              // chat item
              .item
                img.offline(src='images/avatar3.png', alt='user image')
                |                                         
                p.message
                  a.name(href='javascript:void(0)')
                    small.text-muted.pull-right
                      i.fa.fa-clock-o
                      |  5:30
                    |                                                 Susan Doe
                  |                                             I would like to meet you to discuss the latest news about
                  |                                             the arrival of the new theme. They say it is going to be one the
                  |                                             best themes on the market
              // /.item
            // /.chat
            .box-footer
              .input-group
                input.form-control(placeholder='Type message...')
                |                                         
                .input-group-btn
                  button.btn.btn-success
                    i.fa.fa-plus
          // /.box (chat box)
          // TO DO List
          .box.box-primary
            .box-header
              i.ion.ion-clipboard
              |                                     
              h3.box-title To Do List
              |                                     
              .box-tools.pull-right
                ul.pagination.pagination-sm.inline
                  li
                    a(href='javascript:void(0)') &laquo;
                  |                                             
                  li
                    a(href='javascript:void(0)') 1
                  |                                             
                  li
                    a(href='javascript:void(0)') 2
                  |                                             
                  li
                    a(href='javascript:void(0)') 3
                  |                                             
                  li
                    a(href='javascript:void(0)') &raquo;
            // /.box-header
            .box-body
              ul.todo-list
                li
                  // drag handle
                  span.handle
                    i.fa.fa-ellipsis-v
                    |                                                 
                    i.fa.fa-ellipsis-v
                  // checkbox
                  input(type='checkbox', value='', name='')
                  // todo text
                  span.text Design a nice theme
                  // Emphasis label
                  small.label.label-danger
                    i.fa.fa-clock-o
                    |  2 mins
                  // General tools such as edit or delete
                  .tools
                    i.fa.fa-edit
                    |                                                 
                    i.fa.fa-trash-o
                |                                         
                li
                  span.handle
                    i.fa.fa-ellipsis-v
                    |                                                 
                    i.fa.fa-ellipsis-v
                  |                                             
                  |                                             
                  input(type='checkbox', value='', name='')
                  |                                             
                  span.text Make the theme responsive
                  |                                             
                  small.label.label-info
                    i.fa.fa-clock-o
                    |  4 hours
                  |                                             
                  .tools
                    i.fa.fa-edit
                    |                                                 
                    i.fa.fa-trash-o
                |                                         
                li
                  span.handle
                    i.fa.fa-ellipsis-v
                    |                                                 
                    i.fa.fa-ellipsis-v
                  |                                             
                  input(type='checkbox', value='', name='')
                  |                                             
                  span.text Let theme shine like a star
                  |                                             
                  small.label.label-warning
                    i.fa.fa-clock-o
                    |  1 day
                  |                                             
                  .tools
                    i.fa.fa-edit
                    |                                                 
                    i.fa.fa-trash-o
                |                                         
                li
                  span.handle
                    i.fa.fa-ellipsis-v
                    |                                                 
                    i.fa.fa-ellipsis-v
                  |                                             
                  input(type='checkbox', value='', name='')
                  |                                             
                  span.text Let theme shine like a star
                  |                                             
                  small.label.label-success
                    i.fa.fa-clock-o
                    |  3 days
                  |                                             
                  .tools
                    i.fa.fa-edit
                    |                                                 
                    i.fa.fa-trash-o
                |                                         
                li
                  span.handle
                    i.fa.fa-ellipsis-v
                    |                                                 
                    i.fa.fa-ellipsis-v
                  |                                             
                  input(type='checkbox', value='', name='')
                  |                                             
                  span.text Check your messages and notifications
                  |                                             
                  small.label.label-primary
                    i.fa.fa-clock-o
                    |  1 week
                  |                                             
                  .tools
                    i.fa.fa-edit
                    |                                                 
                    i.fa.fa-trash-o
                |                                         
                li
                  span.handle
                    i.fa.fa-ellipsis-v
                    |                                                 
                    i.fa.fa-ellipsis-v
                  |                                             
                  input(type='checkbox', value='', name='')
                  |                                             
                  span.text Let theme shine like a star
                  |                                             
                  small.label.label-default
                    i.fa.fa-clock-o
                    |  1 month
                  |                                             
                  .tools
                    i.fa.fa-edit
                    |                                                 
                    i.fa.fa-trash-o
            // /.box-body
            .box-footer.clearfix.no-border
              button.btn.btn-default.pull-right
                i.fa.fa-plus
                |  Add item
          // /.box
        // right col
      // /.row (main row)
    // /.content
  // /.right-side
// ./wrapper
// add new calendar event modal
include footer  