.direct-chat-msg#msgDet.hide
    .direct-chat-info.clearfix
      span.direct-chat-name.pull-left #{locals.userDetail.firstname}
      span.direct-chat-timestamp.pull-right #{new Date()}
    img.direct-chat-img(src='images/user1-128x128.jpg', alt='message user image')
    .direct-chat-text