doctype html
html
    head#www-institute_mgt-com(data-template-set='html5-reset')
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
        meta(content='deny', http-equiv='X-Frame-Options')
        title Institute Management
        //if IE
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        meta(content='Institute Management', name='title')
        meta(content=' Institute Management’s mission is to provide our clients with exceptional customer service in diverse markets such as agriculture and information that will contribute to better business decisions through data processing and remote sensing.', name='description')
        // Google will often use this as its description of your page/site. Make it good.
        meta(content='Institute Management', name='google-site-verification')
        meta(content='Institute Management', name='author')
        meta(content='Copyright &copy; 2014 Institute Management. All Rights Reserved.', name='Copyright')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0', name='viewport')
        //- link(href='public/images/favicon.ico', rel='shortcut icon')
        // Minified CSS
        link(href='css_min/production.min.css', rel='stylesheet')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        // Require + jQuery Library
        script(type='text/javascript', src='js/lib/require-jquery.js')
        //- script(type='text/javascript', src='js/build/production.min.js')
        // jQuery 2.0.2
        //- script(src='js/lib/jquery.min.js', type='text/javascript')
        // Require Library
        //- script(src='js/lib/require.js', type='text/javascript')
    // Body Start
    body.skin-blue