include header
script(type='text/javascript').
  require(['js/helper/require-reference'], function(reference){
  require(['js/controller/StudentController'], function(StudentController){
  var studentControllerObject = new StudentController();
  });
  });
#wrap
    form#studentForm.form(name='studentRegistration', method='POST', action='/api/addUser', enctype="multipart/form-data")
        .container
            .row
                .col-md-6.col-md-offset-3
                    form.form(action='/api/addUser', method='post', accept-charset='utf-8', role='form')
                        legend Sign Up /
                            a.login(href="/") Login
                        h4 Student Registration Form
                        .row
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='firstname', value='', placeholder='First Name')
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='lastname', value='', placeholder='Last Name')
                        .row
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='email', value='', placeholder='Your Email')
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='mobile', value='', placeholder='Mobile')                                                                    
                        .row    
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='city', value='', placeholder='City Of birth')
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='state', value='', placeholder='State of Birth')                                    
                        .row
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='mother_tongue', value='', placeholder='Mother Tongue')
                            .col-xs-6.col-md-6
                                input.form-control.input-lg(type='text', name='nationality', value='', placeholder='Nationality')             
                        .row
                            .col-xs-6.col-md-6
                                input.form-control.input-lg#password(type='password', name='password', value='', placeholder='Password')
                            .col-xs-6.col-md-6        
                                input.form-control.input-lg(type='password', name='confirm_password', value='', placeholder='Confirm Password')
                        label Birth Date
                        .row
                            .col-xs-4.col-md-4
                                select.form-control.input-lg(name='month')
                                    each val, index in locals.months
                                        option(value= index)= val
                            .col-xs-4.col-md-4
                                select.form-control.input-lg(name='day')
                                    - for( var day = 1; day <= 31; day++)
                                        option(value= day)= day
                            .col-xs-4.col-md-4
                                select.form-control.input-lg(name='year')
                                    - for( var year = 2015; year >= 1935; year--)
                                        option(value= year)= year
                        label(for='profile_pic') Profile Picture
                        .row
                            .col-xs-6.col-md-6
                                input.form-control.input-lg#profile_pic(type='file', name='profile_pic', value='',  accept="image/*")    
                        label Gender :
                        label.radio-inline
                            input#male(type='radio', name='gender', value='M')
                            |                         Male
                        label.radio-inline
                            input#female(type='radio', name='gender', value='F')
                            |                         Female
                        br
                        span.help-block
                            | By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.
                        button.btn.btn-lg.btn-primary.btn-block.signup-btn(type='submit')
                            | Create my account    

